.heading-label {
    -fx-font-size: 48pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #000000;
    -fx-opacity: 1;
}

.heading-label2 {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #000000;
    -fx-opacity: 1;
    -fx-underline: true;
}
.button {
    -fx-background-color: #6fadff;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 7 30 7 30;
    -fx-pref-height: 50px;
    -fx-pref-width: 200px;
}

.help-button{
    -fx-background-color: #6fadff;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
    -fx-pref-width: 30px;
}

.home-button{
    -fx-background-color: #6fadff;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #ffffff;
    -fx-font-size: 13px;
    -fx-padding: 10 20 10 20;
    -fx-pref-width: 80px;
}

.background {
    -fx-background-color: #7d7f80;

}

.combo-box {
    -fx-pref-width: 200px;

}
